@import './base.scss';
.CONTAINER{
    display: flex;
    flex-direction: column;
    height: 100%;
    .purContent{
         height:calc(100% -2.5rem) ;
         overflow: auto;
         flex: auto;
         -webkit-overflow-scrolling: touch;
    }
    img{
        width:100%;
    }
    .pdpd_info{
        position: relative;
        .Pd_detail{
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            @include px2rem(width,45px);
            @include px2rem(height,45px);
            color: #fff;
            @include px2rem(padding,10px);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            @include px2rem(font-size,12px);
            @include px2rem(bottom,30px);
            @include px2rem(right,20px);

        }
    }
    .custom{
         padding: 14px 15px 10px;
         @include px2rem(font-size,13px);
         color: #999;
        .pdpd_name{
            @include px2rem(font-size,18px);
            font-weight: 600;
            color:#000;
        }
        .pdpd_price{
            .pdpd_priceNew{
                @include px2rem(font-size,18px);
                color:red;
            }
            .pdpd_info_age{
                @include px2rem(font-size,12px);
                float: right;
            }
        }
    }
    .product_limit{
        @include px2rem(font-size,13px);
        padding: 0 4px;
        background: #F3F9FF;
        .ant-col{
            padding: 9px 1px;
        }

    }
    #tab{
        .weui-navbar{
            background: #fff;
            color: #333;
            .weui-navbar__item:after{
                border-width: 0;
            }
            .weui-bar__item_on{
                background: transparent;
                color: #168DF3;
                border-bottom: 0.106667rem solid #168DF3;
            }
            a{
                color: #333;
            }
        }
        .weui-navbar.top_fiexd{
            position: fixed;
            transform: translateZ(0);
            width: 100%;
            top: 0;
            left: 0;
            z-index: 1000;
        }

    }
    .bottom_btn_bg{
        flex:1;
        background: #fff;
        width: 100%;
        height: 1.3rem;
        box-sizing: border-box;
        .bottom_btn_right,.back,.bottom_btn_left{
              line-height: 1.3rem;
             @include px2rem(font-size,14px);
             text-align: center;
             color: #fff;
        }
        .bottom_btn_left{
            background: #F5A623;
        }
        .back{
            background:#F10D51;
          }
    }
}
.zmage{
    .ant-drawer-body{
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #000;
         img{
             width:100%;
         }
    }
}